*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-dark: #1A5F7A;
  --clr-accent: #FFC900;
  --clr-light: #fff;
  --ff-logo: "Racing Sans One", sans-serif;
  --ff-primary: "Roboto", monospace;
  --sidebar-offset: 300px;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a,
a:hover {
  color: var(--clr-light);
  text-decoration: none;
}

ol,
ul {
  padding-left: 0;
}

h1,
h3 {
  font-family: var(--ff-logo);
  color: var(--clr-accent);
  letter-spacing: 0.1rem;
}

h2 {
  letter-spacing: 0.1rem;
  font-family: var(--ff-logo);
}

.logo {
  letter-spacing: 0.25rem;
}

.sidebar {
  background-color: var(--clr-dark);
  font-family: var(--ff-primary);
  text-align: center;
  margin: 0;
  padding: 0;
  width: var(--sidebar-offset);
  position: fixed;
  height: 100%;
  overflow: auto;
  color: var(--clr-light);
}

.nav {
  position: relative;
}
.nav__list-item {
  margin-bottom: 5px;
}
.nav__list-item a {
  position: relative;
}
.nav__list-item a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-light);
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
}
.nav__list-item a:hover::before {
  transform: scaleX(1);
}

.feeds {
  position: relative;
}
.feeds__list-item {
  margin-bottom: 5px;
}
.feeds__list-item a {
  position: relative;
}
.feeds__list-item a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-light);
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
}
.feeds__list-item a:hover::before {
  transform: scaleX(1);
}
.feeds__add-item {
  font-family: var(--ff-logo);
  font-size: 2rem;
}

.content {
  margin-left: var(--sidebar-offset);
  padding: 1px 16px;
  height: 100%;
}

.overlay {
  position: absolute;
  background: var(--clr-dark);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  visibility: hidden;
}

.add_choices {
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms linear, visibility 0s linear 150ms;
}
.add_choices__list {
  list-style: none;
  display: flex;
  height: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.add_choices__list a {
  position: relative;
}
.add_choices__item {
  margin-bottom: 10px;
}
.add_choices__item a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-light);
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
}
.add_choices__item a:hover::before {
  transform: scaleX(1);
}

.create_form {
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms linear, visibility 0s linear 150ms;
}

.join_form {
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms linear, visibility 0s linear 150ms;
}

.add_choices--show, .create_form--show, .join_form--show {
  visibility: visible;
  opacity: 1;
  transition: opacity 150ms linear, visibility 0s linear;
}

/*# sourceMappingURL=style.css.map */
