html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

// Custom properties
:root {
    --clr-dark: #1A5F7A;
    --clr-accent: #FFC900;
    --clr-light: #fff;
    --ff-logo: 'Racing Sans One', sans-serif;
    --ff-primary: 'Roboto', monospace;

    --sidebar-offset: 300px;
    --box-shadow: 0px 0px 6px 1px #FFC900;
}

// General styles
body {
    margin: 0;
    font-family: var(--ff-primary);
}

img {
    display: block;
    max-width: 100%;
}

a,
a:hover {
    color: var(--clr-light);
    text-decoration: none;
}

ol,
ul {
    padding-left: 0;
}

h1,
h3 {
    font-family: var(--ff-logo);
    color: var(--clr-accent);
    letter-spacing: 0.1rem;
}

h2 {
    letter-spacing: 0.1rem;
    font-family: var(--ff-logo);
}

header {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-family: var(--ff-logo);
}

button {
    padding: 6px 15px;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    font-family: var(--ff-primary);
    border: 1px solid var(--clr-light);
}

button:hover {
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    border-color: var(--clr-dark);
}

input {
    font-family: var(--ff-primary);
    padding: 5px;
    box-shadow: var(--box-shadow);
}