@use 'mixins';

.content {
    margin-left: var(--sidebar-offset);
    padding: 1px 16px;
    height: 100%;
    
}
.search-form {
    margin: 25px auto;
}
.result__title {
    position: relative;

    a {
        color: black;
    }

    a::before {
        @include mixins.underline_animation;
        width: 15%;
        transform-origin: top left;
        background-color: black;
    }

    a:hover::before {
        @include mixins.underline_animation_hover
    }
}

.channel {
    border-bottom: 3px dotted var(--clr-dark);
    padding-bottom: 10px;
    &__container {
        display: flex;
        column-gap: 10px;
    }
}

.remove {
    button {
        position: relative;
        top: 20px;
    }
}

.videos {
    display: flex;

    &__item {
        margin-right: 10px;
    }
}
