@use 'mixins';

.content {
    padding: 1px 16px;
}

@media (min-width: 800px) {
    .content {
        margin-left: var(--sidebar-offset);
    }
}
.search-form {
    margin: 25px auto;
}
.feed {
    &__container {
        display: flex;
    }

    .delete-feed button {
        position: relative;
        top: 0.5rem;
        left: 0.25rem;
    }
}
.result {
    &__container {
        display: flex;
        width: 300px;
        margin: 20px 0px;

        img {
            margin-bottom: 5px;
        }
    }

    &__title {
        position: relative;
        flex: 50%;

        a {
            color: black;
        }
    
        a::before {
            @include mixins.underline_animation;
            width: 15%;
            transform-origin: top left;
            background-color: black;
        }
    
        a:hover::before {
            @include mixins.underline_animation_hover
        }
    }

    &__description {
        flex: 50%;
    }

    &__dropdown {
        width: 50%;
        select {
            width: 300px;
            margin-bottom: 10px;
            box-shadow: 0px 0px 6px 1px #FFC900;
            padding: 5px 10px;
        }
        button {
            display: block;
        }
    }
}

.channel {
    border-bottom: 3px dotted var(--clr-dark);
    padding-bottom: 10px;
    &__container {
        display: flex;
        column-gap: 10px;
    }
}

.remove {
    button {
        position: relative;
        top: 20px;
    }
}

@media (min-width:1300px) {
    .videos {
        display: flex;
        &__item {
            margin-right: 10px;
        }
    }
}
