@use 'mixins';

.logo {
    letter-spacing: 0.25rem;
}

.sidebar {
    background-color: var(--clr-dark);
    font-family: var(--ff-primary);
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
    overflow: auto;
    color: var(--clr-light)
}

@media (min-width:800px) {
    .sidebar {
        width: var(--sidebar-offset);
        position: fixed;
        height: 100%;
    }
}

// sidebar nav
.nav {
    position: relative;

    &__list-item {
        margin-bottom: 5px;
        a {
            position: relative;
        }
    }

    &__list-item a::before {
        @include mixins.underline_animation;
    }

    &__list-item a:hover::before {
        @include mixins.underline_animation_hover;
    }
}

// sidebar feeds

.feeds {
    position: relative;

    &__list {
        max-height: 300px;
        overflow: auto;
    }
    &__list-item {
        margin-bottom: 5px;
        a {
            position: relative;
        }
    }

    &__list-item a::before {
        @include mixins.underline_animation;
    }

    &__list-item a:hover::before {
        @include mixins.underline_animation_hover;
    }

    &__add-item {
        font-family: var(--ff-logo);
        font-size: 2rem;
    }
}
