// sidebar

.logo {
    letter-spacing: 0.25rem;
}

.sidebar {
    background-color: var(--clr-dark);
    font-family: var(--ff-primary);
    text-align: center;
    margin: 0;
    padding: 0;
    width: var(--sidebar-offset);
    position: fixed;
    height: 100%;
    overflow: auto;
    color: var(--clr-light)
}

@mixin underline_animation {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-light);
    transform: scaleX(0);
    transition: transform 0.2s ease-out;
}

@mixin underline_animation_hover {
    transform: scaleX(1);
}

// sidebar nav
.nav {
    position: relative;

    &__list-item {
        margin-bottom: 5px;
        a {
            position: relative;
        }
    }

    &__list-item a::before {
        @include underline_animation;
    }

    &__list-item a:hover::before {
        @include underline_animation_hover;
    }
}

// sidebar feeds

.feeds {
    position: relative;

    &__list {
        max-height: 300px;
        overflow: auto;
    }
    &__list-item {
        margin-bottom: 5px;
        a {
            position: relative;
        }
    }

    &__list-item a::before {
        @include underline_animation;
    }

    &__list-item a:hover::before {
        @include underline_animation_hover;
    }

    &__add-item {
        font-family: var(--ff-logo);
        font-size: 2rem;
    }
}
