<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} OurTube {% endblock %}</title>
    <style> div {border: 1px solid red}</style>
</head>
<body>
    <div id='sidebar'>
        {% block sidebar %}
        <div id='nav'>
            <ul>
                <li><a href="{% url "index" %}">Home</a></li>
                <li><a href="{% url "search" %}">Search</a></li>
                <li><a href="{% url "logout" %}">Logout</a></li>
            </ul>
        </div>
        <div id="feeds">
            <h3>Feeds</h3>
            <ul>
                {% for feed in feeds  %}
                    <li>
                        <a href="{% url "feed" feed.id %}">{{ feed.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="add_feed" class="overlay">
            <a href="#">Create Feed</a>
            <a href="#">Join Feed</a>
        </div>
        <div class="overlay">
            <form action="{% url 'join_or_create_feed' %}" method="post">
                {% csrf_token %}
                {{ create_form }}
                <input type="hidden" name="create_feed" value='create_feed'>
                <input type="submit" value="Create">
            </form>
        </div>
        <div class="overlay">
            <form action="{% url 'join_or_create_feed' %}" method="post">
                {% csrf_token %}
                {{ join_form }}
                <input type="hidden" name="join_feed" value='join_feed'>
                <input type="submit" value="Join">
                
            </form>
        </div> 
        {% endblock sidebar %}
    </div>
    <div class="content">
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>