<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} OurTube {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ourtube/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Racing+Sans+One">
    <script src="{% static 'ourtube/main.js' %}"></script>
</head>
<body>
    
    <div class="sidebar" id='sidebar'>
    {% block sidebar %}
        <h1 class="logo">OURTUBE</h1>
        <div class="nav" id='nav'>
            <ul class="nav__list">
                <li class="nav__list-item"><a href="{% url "ourtube:index" %}">Home</a></li>
                <li class="nav__list-item"><a href="{% url "ourtube:search" %}">Search</a></li>
                <li class="nav__list-item"><a href="{% url "logout" %}">Logout</a></li>
            </ul>
        </div>
        <div class="feeds" id="feeds">
            <h3>Feeds</h3>
            <ul class="feeds__list">
                {% for feed in feeds  %}
                    <li class="feeds__list-item">
                        <a href="{% url "ourtube:feed" feed.id %}">{{ feed.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="create_form" class="create_form">
            <h3>Create Feed</h3>
            <form action="{% url 'ourtube:index' %}" method="post">
                {% csrf_token %}
                {{ create_form.as_p }}
                <input type="hidden" name="create_feed" value='create_feed'>
                <button>Create</button>
            </form>
        </div>
        <div id="join_form" class="join_form">
            <h3>Join Feed</h3>
            <form action="{% url 'ourtube:index' %}" method="post">
                {% csrf_token %}
                {{ join_form.as_p }}
                <input type="hidden" name="join_feed" value='join_feed'>
                <button>Join</button>
            </form>
        </div> 
    {% endblock sidebar %}
    </div>

    <div class="content">
        {% block content %}
            {% if messages %}
            <div>
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endblock content %}
    </div>
</body>
</html>