<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} OurTube {% endblock %}</title>
    <style> div {border: 1px solid red}</style>
</head>
<body>
    <div id='sidebar'>
        {% block sidebar %}
        <div id='nav'>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="search">Search</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
        {% endblock sidebar %}
    </div>
    <div class="content">
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>