{% extends 'ourtube/base.html' %}

{% block title %} {{ current_feed.name }} {% endblock title %}

{% block content %}
    
    <div class='feed'>
        <header>{{ current_feed.name }}</header>
        {{ block.super }}
        {% for channel in channels %}
            <div class="channel">
                <div class="channel__container">
                    <h2>{{ channel.name }}</h2>
                    <div class="remove">
                        {% if user == current_feed.owner %}
                            <form action="{% url 'ourtube:feed' current_feed.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="channel_id" value="{{ channel.id }}">
                                <button>Remove</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="videos">
                    {% for video in channel.videos %}
                        <div class="videos__item">
                            {% comment %} need to use embed for iframe {% endcomment %}
                            <iframe src="https://www.youtube.com/embed/{{video}}" frameborder="0"></iframe>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        {% endfor %}
    </div>
{% endblock content %}