{% extends 'ourtube/base.html' %}

{% block title %} Search {% endblock title %}

{% block content %}
    {{ block.super }}
    <div class="search-form">
        {% comment %} Change this form into a dajngo form {% endcomment %}
        <form action="{% url "search" %}" method="get">
            {{ form }}
            <input type="submit" value="Search">
        </form>
    </div>

    <div class="results">
        {% for result in results %}
            <div class="result" id="{{ result.snippet.channelId }}">
                <div class="channel_title">
                    <img src="{{ result.snippet.thumbnails.default.url }}">
                    <a href="https://www.youtube.com/channel/{{ result.snippet.channelId }}">
                        {{ result.snippet.title }}
                    </a>
                </div>
                <div class="channel_description">{{ result.snippet.description }}</div>
                {% comment %} 
                Add channel button, 
                and use channel id to get playlist id on saving. button is post method. 
                {% endcomment %}
                <div class="multi_select_dropdown">
                    <form action="#" method="post">
                        {{ feeds_form }}
                    </form>
                    {% comment %} <select multiple>
                        {% for feed in feeds %}
                            {% if feed.owner == user %}
                                <option value="{{ feed.id }}"> {{ feed.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select> {% endcomment %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}