{% extends 'ourtube/base.html' %}
{% block script %}
<style>body {background-color: var(--clr-dark); font-family: var(--ff-primary); color: var(--clr-light);} </style>
{% endblock script %}
{% block sidebar %}{% endblock sidebar %}
{% block content %}
    <h1 class="logo">OURTUBE</h1>
    <div class="auth">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>{{field.errors}}</p>
                <p>{{field.label}}</p>
                <p>{{field}}</p>
            {% endfor %}
            <button type="submit">Sign Up</button>
        </form>
    </div>
{% endblock content %}
